{% extends 'base.html.twig' %}



{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">Rapport d'activité Licence Informatique Générale</h1>
        <p class="lead">
            Pierre-Marie Westeel :
            Dévelloppeur Web PHP chez Kinomap de juin 2015 à juin 2018
            / Conservatoire National des Arts et Métiers de 2010 à 2014
        </p>
        <hr class="my-2">
        <p>Consultez le rapport en ligne ou téléchargez la version PDF.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg disabled" href="Jumbo action link" role="button">
                <i class="fa fa-book" aria-hidden="true"></i> Lire le rapport
            </a>
            <a class="btn btn-info btn-lg disabled" href="Jumbo action link" role="button">
                <i class="fa fa-download" aria-hidden="true"></i> Télécharger le PDF
            </a>
        </p>
    </div>

{% endblock %}
